.toolbar {
  flex: 1;
  background: #424242;
}

.intro {
  background-color: #03a9f4;
  height: 300px;
}

.logo {
  height: 65px;
  width: 65px;
  margin-left: 400px;
}

.cover{
  height: 100%;
  width: 100%;
  max-height: 340px;
}

.whitetext {
  color: white;
  flex: 1;
}

.posts{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
}

.dialog {
  width: 100%;

}
.scroll {
  overflow-x: hidden;
  overflow-y: hidden;

}
.root {
  padding: 20px;
}
.preview {
  padding: 100px;
}

.button {
  display: center;
}